<div class="container mt-5 mb-5">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-md-6">
            <div [formGroup]="loginForm" class="card px-5 py-5">
                <span class="circle"><i class="fa fa-check"></i></span>
                <h5 class="mt-3">Welcome!</h5><small>To get started, please login.</small>
                <div class="form-input">
                    <i class="fa fa-envelope"></i> 
                    <input type="text" class="form-control" placeholder="Email address" formControlName="email"
                        [ngClass]="{ 'is-invalid': formData['email'].invalid && (formData['email'].dirty || formData['email'].touched) }">
                    <div *ngIf="formData['email'].errors?.['required'] && (formData['email'].dirty || formData['email'].touched)"
                        class="invalid-feedback">
                        Email is required!
                    </div>
                    <div *ngIf="formData['email'].errors?.['email'] && (formData['email'].dirty || formData['email'].touched)"
                        class="invalid-feedback">
                        Email is not valid!
                    </div>
                </div>
                <div class="form-input">
                    <i class="fa fa-lock"></i>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                        [ngClass]="{ 'is-invalid': formData['password'].invalid && (formData['password'].dirty || formData['password'].touched) }">
                    <div *ngIf="formData['password'].errors?.['required'] && (formData['password'].dirty || formData['password'].touched)"
                        class="invalid-feedback">
                        Password is required!
                    </div>
                </div>
                <button class="btn btn-primary mt-4 signup" (click)="login()" [disabled]="loginForm.invalid">LOGIN</button>
                <div class="text-center mt-4">
                    <span>New to TaskHub?</span>
                    <a routerLink="/signup" class="text-decoration-none">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>