<div class="container mt-5 mb-5">
    <div class="d-flex align-items-center justify-content-center">
        <div class="col-md-4">
            <div [formGroup]="loginForm" class="card px-5 py-5">
                <div class="logo">
                    <a routerLink="/">
                        <img src="assets/logo.png" alt="TaskHub Logo">
                        <span class="app-name">TaskHub</span>
                    </a>
                </div>
                <h5 class="mt-3">Welcome!</h5><small>To get started, please login.</small>
                <div *ngIf="errorMessage" class="error-message">
                    <p>{{errorMessage}}</p>
                </div>
                <div class="form-input">
                    <i class="fa fa-envelope"></i> 
                    <input type="text" class="form-control" placeholder="Email address" formControlName="userName"
                        [ngClass]="{ 'is-invalid': formData['userName'].invalid && (formData['userName'].dirty || formData['userName'].touched) }">
                    <div *ngIf="formData['userName'].errors?.['required'] && (formData['userName'].dirty || formData['userName'].touched)"
                        class="invalid-feedback">
                        Username is required!
                    </div>
                </div>
                <div class="form-input">
                    <i class="fa fa-lock"></i>
                    <input type="password" class="form-control" placeholder="Password" formControlName="password"
                        [ngClass]="{ 'is-invalid': formData['password'].invalid && (formData['password'].dirty || formData['password'].touched) }">
                    <div *ngIf="formData['password'].errors?.['required'] && (formData['password'].dirty || formData['password'].touched)"
                        class="invalid-feedback">
                        Password is required!
                    </div>
                </div>
                <button class="btn btn-primary mt-4 signup" (click)="onLogin()" [disabled]="loginForm.invalid">LOGIN</button>
                <div class="text-center mt-4">
                    <span>New to TaskHub?</span>
                    <a routerLink="/signup" class="text-decoration-none">Register</a>
                </div>
            </div>
        </div>
    </div>
</div>