@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");


body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    height: 100vh;
}

.container {
    float: left;
    padding: 0%;
    max-width: 100% !important;
    overflow: hidden;
}

.height {
    height: 100vh;
}

.card {
    border: none;
    padding: 20px;
    background-color: #f0f5ff91;
    color: #1c1e21;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.circle {

    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2896ff;
    color: #fff;
    font-size: 10px;
    border-radius: 50%;
}

.form-input {

    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    color: #8b8d8f !important;

}

.form-input i {

    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 10px;
}

.form-control {

    height: 50px;
    background-color: transparent;
    text-indent: 24px;
    font-size: 15px;
    color: #1c1e21;

}

.form-control:focus {

    background-color: transparent;
    box-shadow: none;
    border-color: #2896ff;
}

.form-check-label {
    margin-top: 2px;
    font-size: 14px;
}

.signup {
    height: 50px;
    font-size: 14px;
}

.social {

    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
}

.social:hover {

    background-color: #0d6efd;
    border-color: #0d6efd;

}

.text-muted {
    color: #8b8d8f !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8b8d8f !important;
    opacity: 1;
    /* Firefox */
}

h1,
h2,
h3 {
    color: #495057;
}

a {
    cursor: pointer;
}

.main-content {
    color: #575e64;
    margin-left: 200px;
    padding: 20px;
    max-height: 100vh;
    overflow: auto;
    margin-top: 55px;
}

.main-home {
    width: 100vw !important;
}

.dashboard {
    margin-bottom: 30px;
}

.task-summary {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    flex-direction: column;
    align-items: baseline;
}

.task-progress {
    width: 70%;
    height: 20px;
    background-color: #ddd;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: #4caf50;
}

.task-details {
    margin-left: 10px;
}

.task-details h3 {
    margin: 0;
    font-size: 18px;
}

.task-details p {
    margin: 5px 0;
}

.task-card {
    flex: 0 0 calc(25% - 20px);
    margin-left: 10px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    background: #f8f8ffc7;
    border-radius: 10px;
}

.task-card h3 {
    margin: 0;
    font-size: 20px;
}

.task-card p {
    margin: 5px 0;
    font-size: small;
}

.main-sidebar {
    position: fixed;
    display: flex;
}

.task-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-around;
}

.task-priority {
    display: inline-block;
    padding: 0 10px;
    font-size: 12px;
    font-weight: var(--base-text-weight-medium, 500);
    line-height: 22px !important;
    border: 1px solid transparent;
    border-radius: 2em;
}

.high {
    @extend .task-priority;
    background-color: #d73a4a;
    color: white;
}

.medium {
    @extend .task-priority;
    background-color: #fb9404;
    color: white;
}

.low {
    @extend .task-priority;
    background-color: #0e8a16;
    color: white;
}

.task-metadata {
    display: flex;
    flex-direction: column;
    font-size: 13px;
    margin-top: 10px;
}

.task-header a {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}

.task-header button {
    float: right;
    background-color: transparent;
    color: #d73a4a;
}

.task-header button:hover {
    color: black;
    background-color: transparent;
}

button {
    padding: 5px 10px;
    background-color: #0d6efd;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}

button:hover {
    background-color: #0a58ca;
}

.error-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: var(--bs-form-invalid-color);
}

.imagePreview img {
    height: 200px !important;
}

.logo {
    align-self: center;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit;
}

.logo img {
    height: 30px;
    margin-right: 10px;
    cursor: pointer;
}

.app-name {
    font-size: 20px;
}

.close-button {
    background-color: transparent;
    color: black;
    border: none;
    font-size: x-large;
}