.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    float: left;
    position: fixed;
    background-color: #f0f5ff;
    color: #202124;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;
    margin: 0px 10px 0px 10px;
}

.nav div {
    padding: 8px;
    cursor: pointer;
    border-radius: 35px;
    font-size: .875rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.nav div svg {
    margin-left: 5px;
    margin-right: 5px;
}

.nav div.active {
    background-color: #d2e3fc !important;
    color: #020202;
    font-weight: 500;
}

.nav div:hover {
    background-color: #e5e5e5
}

.new-task {
    background-color: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    grid-area: newb;
    max-width: 256px;
    padding: 8px 16px 16px;
}

.new-task button {

    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    background-color: var(--dt-surface,#fff);
    border-radius: var(--dt-corner-fab,1.25rem);
    border-width: 0;
    box-shadow: var(--dt-surface1-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15));
    box-sizing: border-box;
    color: var(--dt-on-surface,rgb(60,64,67));
    cursor: pointer;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    fill: var(--dt-on-surface,rgb(60,64,67));
    gap: 0.75rem;
    grid-template-columns: auto 1fr;
    height: 3.5rem;
    min-width: 6.25rem;
    padding: 1.125rem 1.25rem 1.125rem 1rem;
    place-content: center start;
    -webkit-transition: box-shadow .08s linear;
    transition: box-shadow .08s linear;
    -webkit-user-select: none;
    user-select: none;
    font-weight: 400;
}

.new-task button:hover {
    background-color: #f7faff6b;
    box-shadow:var(--dt-surface2-shadow,0 1px 2px 0 rgba(60,64,67,.3),0 2px 6px 2px rgba(60,64,67,.15));
}

.brbsPe .cUCuw {
    background-color: var(--dt-surface,#fff);
    display: block;
    opacity: 0;
    -webkit-transition: background-color .25s,opacity .25s;
    transition: background-color .25s,opacity .25s;
}

.WNpj6b, .cUCuw {
    border-radius: inherit;
    box-sizing: border-box;
    color: currentcolor;
    display: none;
    font-style: normal;
    inset: 0;
    position: absolute;
    pointer-events: none;
}
