.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 100vh;
    float: left;
    position: fixed;
    background-color: #f0f5ff;
    color: #202124;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 400;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-right: 15px;
    margin-top: 10px;
}

.sidebar li {
    padding: 10px;
    cursor: pointer;
    border-radius: 0 35px 35px 0;
    font-size: .875rem;
}

.sidebar li label {
    margin-left: 10px;
}

.sidebar li.active {
    background-color: #d2e3fc !important;
    color: #020202;
    font-weight: 500;
}

.sidebar li:hover {
    background-color: #e5e5e5
}