<div class="container">
    <div class="sidebar">
        <div class="logo">
            <a routerLink="/">
                <img src="assets/logo.png" alt="TaskHub Logo">
                <span class="app-name">TaskHub</span>
            </a>
        </div>
        <ul>
            <li routerLink="/" class="active">Tasks</li>
            <li>To Do</li>
            <li>In Progress</li>
            <li>Review</li>
            <li>Completed</li>
            <li>Projects</li>
        </ul>
    </div>
</div>