<div class="sidebar" *ngIf="showSidebar">
    <div class="container">
        <div class="sidebar">

            <ul>
                <li [routerLink]="['tasks/', '']" routerLinkActive="active"><label>ALL</label></li>
                <li [routerLink]="['tasks/','planned']" routerLinkActive="active"><label>Planned</label></li>
                <li [routerLink]="['tasks/','executing']" routerLinkActive="active"><label>Executing</label></li>
                <li [routerLink]="['tasks/','accomplished']" routerLinkActive="active"><label>Accomplished</label>
                </li>
            </ul>
        </div>
    </div>
</div>
<div>
    <router-outlet></router-outlet>
</div>